<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <b>Author:</b>
  <%= @comment.author %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Posted on:</b>
  <%= @comment.posted_on %>
=======
  <b>User name:</b>
  <%= @comment.user_name %>
>>>>>>> 9c24d764c308ef4e47bd021e28d7e3565136bc4b
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
