<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>User password:</b>
  <%= @user.user_password %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', home_page_index_path %>
