<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>User password:</b>
  <%= @user.user_password %>
=======
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
>>>>>>> 9c24d764c308ef4e47bd021e28d7e3565136bc4b
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
