<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
<<<<<<< HEAD
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
=======
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
>>>>>>> 9c24d764c308ef4e47bd021e28d7e3565136bc4b
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
