<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p><b>Comments:</b></p>
	<% @comments.each do |comment| %>
			<b>Posted by: <%= @comment.author %></b>
			<p><%= @comment.body %></p>
	<% end %>
