<p id="notice"><%= notice %></p>

<table class="header blog table table-condensed">
  <tr>
    <td><strong>Title:</strong></td>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <td><strong>Author:</strong></td>
    <td><%= @post.author %></td>
  </tr>
  <tr>
    <td><strong>Body:</strong></td>
    <td><%= @post.body %></td>
  </tr>
</table>

<table class="blog table table-hover table-condensed">
  <tr><td><h3>Comments</h2></td></tr>
  <% @comments.each do |comment| %>
	  <% if comment.posted_on == @post.title %>
		  <tr>
		    <td class="commentauthor"><b>Posted by: <%= comment.author %></b></td>
		  </tr>
		  <tr>
		    <td class="actualcomment"><%= comment.body %></td>
	 	 </tr>
	  <% end %>
  <% end %>
</table>

<%= link_to 'Back', :back, {:class=>"btn  btn-default backfooter"}%>
<%= link_to 'Leave a comment', new_comment_path(:title => @post.title), {:class=>"btn  btn-default footer"} %>