<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
	<b>Comments:</b>
	<br />
	<br />
	<% @comments.each do |comment| %>
		<% if @comment.posted_on == @post.title %>
			<b>Posted by:</b>
			<p><%= @comment.author %></p>
			<br />
			<p><%= @comment.body %></p>
			<br />
		<% end %>
	<% end %>
