<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>
<style>
  td{
    border:1px solid black;
    position:relative;
  }
</style>
<table style="text-indent:1em;">
  <th><b>Comments:</b></th>
  <% @comments.each do |comment| %>
  <tr style="text-indent:2em;">
    <td><b><%= @comment.author %></b></td>
  </tr>
  <tr style="text-indent:2em;">
    <td style="text-indent:4em;"><%= @comment.body %></td>
  </tr>
  <% end %>
</table>