<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<style>
  td{
    border:1px solid black;
    position:relative;
  }
</style>
<table style="text-indent:1em;">
  <th><b>Comments:</b></th>
  <% @comments.each do |comment| %>
	  <% if comment.posted_on == @post.title %>
		  <tr style="text-indent:2em;">
		    <td><b>Posted by: <%= comment.author %></b></td>
		  </tr>
		  <tr style="text-indent:2em;">
		    <td style="text-indent:4em;"><%= comment.body %></td>
	 	 </tr>
	  <% end %>
  <% end %>
</table>

<%= link_to 'Leave a comment', new_comment_path(:title => @post.title) %>

<%= link_to 'Back', home_page_index_path %>

