<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p><b>Comments:</b></p>
	<% @comments.each do |comment| %>
		<% if comment.posted_on == @post.title %>
			<b>Posted by: <%= comment.author %></b>
			<p><%= comment.body %></p>
		<% end %>
	<% end %>

<%= link_to 'Leave a comment', new_comment_path(:title => @post.title) %>

<%= link_to 'Back', contributor_index_path %>